@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Machine Details</h2>
<hr />

<div class='box'>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h4>@Html.DisplayFor(model => model.Description)</h4>
<hr />
@if(@Model.Engineers.Count == 0)
{
  <p>No engineers are licensed to repair this machine</p>
}
else
{
  <h5>This machine's licensed engineers:</h5>

  <ul>
  @foreach(var join in Model.Engineers)
  {
    <li>@Html.ActionLink($"{join.Engineer.Name}", "Details", "Engineers", new { id = join.EngineerId })</li>
    @using (Html.BeginForm("DeleteEngineer", "Machines"))
    {
      @Html.Hidden("joinId", @join.RepairsId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}
</div>
<hr />
<a href='@Url.Action("AddEngineer", new { id = Model.MachineId })'><button>Add an Engineer</button></a>
<a href='@Url.Action("Edit", new { id = Model.MachineId })'><button>Edit Machine</button></a>
<a href='@Url.Action("Delete", new { id = Model.MachineId })'><button>Delete Machine</button></a>
<a href='@Url.Action("Index")'><button>Back to list</button></a>