@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Add a machine</h2>
<hr />

<div class='box'>
<h4>Add a repair license to this engineer: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.DropDownList("MachineId", (IEnumerable<SelectListItem>)ViewData["Menu"],"-- Select Machine --" )

  <input type="submit" value="Save" />
}
</div>
<div class='box'>
@if(@Model.Machines.Count == 0)
{
  <p>This engineer does not have any machines</p>
}
else 
{
  <h5>Machines this engineer is licensed to repair:</h5>
  <ul>
  @foreach(var join in Model.Machines)
  {
    <li>@Html.ActionLink($"{join.Machine.Name}", "Details", "Machines", new { id = join.Machine.MachineId })</li>
  }
  </ul>
}
</div>
<hr />
<a href='@Url.Action("Details", new { id = Model.EngineerId })'><button>Back to details</button></a>