@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Machines.Count == 0)
{
  <p>This engineer does not have any machines</p>
}
else 
{
  <h4>Machines this engineer is licensed to repair:</h4>
  <ul>
  @foreach(var join in Model.Machines)
  {
  <li>@Html.ActionLink($"{join.Machine.Name}", "Details", "Machines", new { id = join.Machine.MachineId })</li>
    @using (Html.BeginForm("DeleteMachine", "Engineers"))
    {
      @Html.Hidden("joinId", @join.RepairsId)
      <input type="submit" value="Delete"/>
    }    
  }
  </ul>
}
<hr />
<a href='@Url.Action("AddMachine", new { id = Model.EngineerId })'><button>Add a repair license</button></a>
<a href='@Url.Action("Edit", new { id = Model.EngineerId })'><button>Edit Engineer</button></a>
<a href='@Url.Action("Delete", new { id = Model.EngineerId })'><button>Delete Engineer</button></a>
<a href='@Url.Action("Index")'><button>Back to List</button></a>